// 顏色
$black: #000000;
$white: #ffffff;
$red: #ff0000;
$border_color: rgba(0,0,0,.125);

// 字體大小
$font_28: 28px;
$font_24: 24px;
$font_20: 20px;
$font_18: 18px;
$font_16: 16px;
$font_14: 14px;
$font_12: 12px;
$font_10: 10px;

// index
$text_color_1: #485a6d;
$footer_bg: #2d2b2b;